<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.huawei.dao.AdminMapper">
    <select id="findpassword" resultType="String">
        select password_hash
        from admin
        where adminname = #{adminname}
    </select>
    <update id="updatepassword">
        update admin
        set password_hash = #{password_hash}
        where adminname = #{adminname}
    </update>

</mapper>